@import '~@angular/material/theming';
@include mat-core();
@import './scss/mixins';
@import './scss/theme.scss';
@import './scss/custom-component-themes.scss';

.my-theme {
    @include angular-material-theme($my-theme);
    @include custom-components-theme($my-theme, $my-theme-info, 
    $my-theme-success, $my-theme-warning, $my-theme-error);
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*.mat-icon:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
