@import '~@angular/material/theming';
@include mat-core();
@import './scss/mixins';
@import './scss/theme.scss';
@import './scss/custom-component-themes.scss';
@import './scss/notification.scss';
@import './scss/dialog.scss';

.my-theme {
  @include angular-material-theme($my-theme);
  @include custom-components-theme($my-theme);
}

.my-dark-theme {
  @include angular-material-theme($my-dark-theme);
  @include custom-components-theme($my-dark-theme);
  .dropzone {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.mat-icon-button:focus,
.mat-mini-fab:focus,
.button:focus {
  outline: none;
}

mat-icon.play {
  color: green;
}

mat-icon.pause {
  color: red;
}

button.change-color {
  margin-right: 20px !important;
}

button.bottom-sheet {
  width: 50%;
}

button.tab-button {
  margin-left: 15px;
}

.max-height {
  height: 100%;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
