.selector {
    padding: 0;
}

::ng-deep .mat-form-field-infix {
    width: 160px !important;
}

@media screen and (min-width: 700px) {
    .selector {
        padding: 0 20px;
    }

    ::ng-deep .mat-form-field-infix {
        width: 300px !important;
    }
}

@media screen and (min-width: 1500px) {
    .selector {
        padding: 0 60px;
    }
}

.selector-button {
    text-align: left;
    width: 100%;
}
