h1.title {
    text-align: center;
}

mat-form-field.input-textarea {
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
    height: 100%;
}

::ng-deep .mat-form-field-flex {
    height: 100%;
}

::ng-deep .mat-form-field-infix {
    height: 100%;
    width: 160px !important;
}

@media screen and (min-width: 700px) {

    ::ng-deep .mat-form-field-infix {
        width: 270px !important;
    }
}

textarea.mat-input-element {
    resize: none;
    height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}

::ng-deep .mat-form-field-wrapper {
    height: 100%;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-divs {
    display: flex;
    flex-direction: column;
}
