table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
    padding-left: 40px !important;
}

.file-table {
    padding: 20px;
}

@media screen and (min-width: 700px) {
    .file-table {
        padding: 20px 50px;
    }
}

mat-cell.table-icon {
    display:flex !important;
    justify-content:center!important;
}
