<app-graph-carousel [graphsSetter]="getControlFlowGraphs()" [id]="'ControlFlowGraph'"></app-graph-carousel>
<div style="height: 10px;"></div>
<app-graph-carousel [graphsSetter]="getDataFlowGraphs()"  [id]="'DataFlowGraph'"></app-graph-carousel>

<mat-grid-list *ngIf="calculatedData!=null" [cols]="cols" (window:resize)="onResize($event)" rowHeight="8:5">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="chart-mat-figure">
            <div class="chart-title">
                Változók felhasználása
            </div>
            <canvas baseChart
                [datasets]="readAndWriteChartData"
                [labels]="calculatedData.readAndWriteChartData.labels"
                [legend]="true"
                [chartType]="'bar'"
                [options]="barChartOptions">
            </canvas>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="chart-mat-figure">
            <div class="chart-title">
                Változók felhasználása
            </div>
            <canvas baseChart
                [data]="calculatedData.useVariable.doubleDatas"
                [labels]="calculatedData.useVariable.labels"
                [legend]="true"
                [chartType]="'pie'"
                [options]="pieChartOptions">
            </canvas>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="chart-mat-figure">
            <div class="chart-title">
                Módosítás és használat
            </div>
            <canvas baseChart
                [data]="calculatedData.useful.datas"
                [labels]="calculatedData.useful.labels"
                [legend]="true"
                [chartType]="'pie'"
                [options]="pieChartOptions">
            </canvas>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="chart-mat-figure">
            <div class="chart-title">
                Fejlécek
            </div>
            <canvas baseChart
                [datasets]="headersChartData"
                [labels]="calculatedData.headers.labels"
                [legend]="true"
                [chartType]="'bar'"
                [options]="barChartOptions">
            </canvas>
        </div>
    </mat-grid-tile>
</mat-grid-list>
