<div>
    <h1>Fájl feltöltő ablak</h1>
</div>
<br>

<label style="display: none;">
    <input id="upload_file" type="file" #file (change)="onChange(file)">
</label>
<input readonly="true" type="text" id="file" (focus)="trigger()">

<div *ngIf="fileName">
	<p>{{fileName}}</p>
  <button type="button" (click)="removeFile()">Remove File</button>
</div>

<div>
    <button mat-button class="m-btn" (click)="next()" [disabled]="file==null">
        Folytatás
        <mat-icon>
            navigate_next
        </mat-icon>
    </button>
</div>