.next-btn {
  text-align: right;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .next-btn {
    text-align: right;
    padding: 0px 20px 20px 0px;
  }
}

button.change-color {
  margin-right: 20px !important;
}

button.bottom-sheet {
  width: 50%;
}

button.tab-button {
  margin-left: 15px;
}

.mat-icon-button:focus,
.mat-mini-fab:focus,
.mat-raised-button:focus,
.mat-button-toggle-button:focus,
.button:focus,
.mat-stroked-button:focus,
.mat-sort-header-button:focus {
  outline: none !important;
}

button.m-btn {
    margin: 20px;
}
