.next-btn {
  text-align: right;
  padding: 0px 40px 20px 0px;
}

button.change-color {
  margin-right: 20px !important;
}

button.bottom-sheet {
  width: 50%;
}

button.tab-button {
  margin-left: 15px;
}

.mat-icon-button:focus,
.mat-mini-fab:focus,
.button:focus {
  outline: none;
}

button.m-btn {
    margin: 1em;
}
