.info-notification {
  background: rgb(25, 125, 220) !important;
  color: whitesmoke !important;
}

.success-notification {
  background: green !important;
  color: whitesmoke !important;
}

.warning-notification {
  background: yellow !important;
  color: rgb(25, 25, 25) !important;
  font-weight: bold !important;
}

.error-notification{
  background-color: red !important;
  color: whitesmoke !important;
}

mat-icon.notification-icon {
  margin-right: 0.2em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-snack-bar-container {
  max-width: 100% !important;
}
  