<div class="drag-drop-lists-container">
    <div class="drag-drop-container">
        <h5><u>Megadott verziók</u></h5>

        <div
            cdkDropList
            #from="cdkDropList"
            [cdkDropListData]="fromList"
            [cdkDropListConnectedTo]="[to]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            <div class="drag-drop-box" *ngFor="let item of fromList" cdkDrag>{{item.text}}</div>
        </div>
    </div>

    <div class="drag-drop-container">
        <h5><u>Sorba állított verziók</u></h5>

        <div
            cdkDropList
            #to="cdkDropList"
            [cdkDropListData]="toList"
            [cdkDropListConnectedTo]="[from]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            <div class="drag-drop-box" *ngFor="let item of toList" cdkDrag>{{item.text}}</div>
        </div>
    </div>
</div>
