<div class="dialog-header" attr.color="primary">
    <h1 mat-dialog-title>Szerkesztés</h1>
    <button mat-icon-button class="dialog-close-button" (click)="onNoClick()">
      <mat-icon>
        close
      </mat-icon>
    </button>
</div>
<div mat-dialog-content class="dialog-content-with-title-actions">
    <mat-form-field appearance="fill" class="input-textarea">
        <textarea matInput [(ngModel)]="data.content"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions class="next-btn">
    <button mat-raised-button (click)="onNoClick()">Mégsem</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.content" cdkFocusInitial>Mentés</button>
</div>
