.dropzone {
  //min-height: 400px;
  //min-width: 400px;
  display: table;
  margin: 0px 20px 0px 20px;
  width: calc(100% - 40px);
  height: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
  padding: 0;
}

.dropzone-active {
  :hover {
    background: #aaa;
  }
  cursor: pointer;
}
  
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
  
.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}
